<ion-header>

  <ion-navbar>
    <ion-title>
      <div class="menu">
        <img src="assets/img/cdt_neg.png" margin="5px"> 
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <section class="container">
        <div class="loginPanel">
            <h3>Login</h3>
            <form [formGroup]="login">
                <ion-item>
                    <ion-label color="inovatech_blue" margin-left="1px" floating>Email</ion-label>
                    <ion-input type="text" formControlName="email" margin-left="0.5px"></ion-input>
                </ion-item>

                <!--Test if the FormData is like the form validator requires and warn the user-->
                <div *ngIf="login.controls['email'].hasError('required') && login.controls['email'].touched" class="alert alert-danger">Insira seu Email</div>

                <ion-item>
                    <ion-label color="inovatech_blue" margin-left="1px" floating>Senha</ion-label>
                    <ion-input type="password" formControlName="password" margin-left="0.5px"></ion-input>
                </ion-item>

                <div class="buttons">
                    <button ion-button color="white" icon-left (click)="sendData()" [disabled]="!login.valid">
                        <ion-icon name="person" color="inovatech_orange"></ion-icon>
                        <span>Entrar</span>
                    </button>
                    <button ion-button color="white" icon-left (click)="PaginaRecuperacao()" [disabled]="!login.valid">
                        <ion-icon name="person" color="inovatech_orange"></ion-icon>
                        <span>Esqueci minha senha</span>
                    </button>
                    <ion-item>
                        <ion-label>Manter me conectado</ion-label>
                        <ion-checkbox (ionChange)="KeepMeLogged()"></ion-checkbox>
                    </ion-item>
                </div>
            </form>
        </div>
    </section>
    <div class = "tree">
        <img src="assets/img/tree.png">
       <!--<ion-grid>
            <ion-row>
                <ion-col><img src="assets/img/tech_tree.png"></ion-col>
            </ion-row>
        </ion-grid>-->
    </div>
</ion-content>
