// Login Page
// --------------------------------------------------
// Login page style.

login-page {
    .toolbar-background{
        background-color: #000;
        text-align: center;
    }
    
    section {
        text-align:             center;
        margin-bottom:          15%;
    }

    .loginPanel {
        width:                  400px;
        max-width:              90%;
        padding:                20px;
        margin:                 20px;
        margin-top: 15%;
        display:                inline-block;
        color:          white;
        
        h2 {
            font-size:              18px;

        }

        ion-item {
            padding:                0px;
        }

        .buttons {
            margin-top:             40px;
            text-align:             center;
        }
    
}

div.menu{
    color: #fff;
    text-align: left;

}
.menu img
{
    position: absolute;
    top: -15px;
    right: 0%;
    float: right;
}
div.tree img
{
    max-width: 600px;
    max-height: 1000px;
    position: absolute;
    top: 0.5%;
    right:3%;
    z-index: -1;
}  
}
