<!--
  Generated template for the TecnologyDescPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <div class="menu">
        Tecnologias
        <img src="assets/img/cdt_neg.png" margin="5px"> 
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="background">
  <ion-grid padding>
    <ion-row justify-content-center>
      <div class="Título">
        <ion-col>
          <h1>{{tech.apelido}}</h1>
        </ion-col>
      </div>
    </ion-row>
    <ion-row justify-content-center>
      <div class="banner">
        <ion-col>
          <img src="assets/img/banner_act.jpg">
        </ion-col>
      </div>
    </ion-row>
    <div class="">
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
          <button ion-button outline color="inovatech_blue" icon-left (click)="goProjects()">
            <ion-icon name="bookmarks"></ion-icon>
            Projetos
          </button>
          <br>
          <button ion-button color="inovatech_blue" icon-left (click)="goTecnologyProject()">
            <ion-icon name="bulb"></ion-icon>
            Tecnologias
          </button>
          <br>
          <button ion-button outline color="inovatech_blue" icon-left>
            <ion-icon name="school"></ion-icon>
            Professores
          </button>
          <br>
          <button ion-button outline color="inovatech_blue" icon-left>
            <ion-icon name="flask"></ion-icon>
            Laboratórios
          </button>
        </ion-col>
        <ion-col col-9>
          <p><b>Resumo:</b> {{tech.resumo}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-8>
          <p>
            <b>Nome Completo:</b> {{tech.nome}}
          </p>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-8>
          <p><b>Vantagens:</b> {{tech.vantagem}}</p>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-8>
          <p><b>Descrição:</b> {{tech.descricao}}</p>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-8>
          <p><b>Dados da Proteção:</b> {{tech.dados_protecao}}</p>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-8>
          <p><b>Status:</b> {{tech.situacao}}</p>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-8>
          <p><b>Já Licenciada?</b> {{tech.licenciada}}</p>
        </ion-col>
        <ion-col col-1>

        </ion-col>
      </ion-row>
      <ion-row><ion-col><br></ion-col></ion-row>
      <ion-row>
        <ion-col col-3>

        </ion-col>
        <ion-col col-4>
          <img src="assets/img/tecnologia.svg">
        </ion-col>
        <ion-col col-4>
          <p> 
            Desc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do Lab
            Desc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do Lab
            Desc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do LabDesc do Lab
          </p>
        </ion-col>
        <ion-col col-1>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>

        </ion-col>
        <ion-col col-8>
          <h2>Inventores:</h2>
          <ion-list *ngFor="let teacher of teachersData">
              <h4>{{teacher.nome}}</h4>
              <ion-col col-3>
                <a href="{{teacher.lattes}}">
                  <img src="data:image/{{imageFormat}};base64,{{teacher.image}}" alt="lattes" *ngIf="teacher.image">
                  <img src="/assets/img/tecnologia.svg" alt="lattes" *ngIf="defaultImage">
                </a>
              </ion-col>              
            </ion-list>
        </ion-col>
        <ion-col col-1>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>

        </ion-col>
        <ion-col col-8>
          <h4>Palavras Chaves:</h4>
          <ion-list *ngFor="let key of keyNames">
              <h4>{{key}}</h4>
          </ion-list>
        </ion-col>
        <ion-col col-1>

        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  </div>
  <div class="rodape">
    <ion-grid margin-left="15px" margin-right="15px">
      <ion-row justify-content-end>
        <ion-col >
          <p (click)="goTecnologyProject()">Tecnologias</p>
          <p (click)="goProjects()">Projetos</p>
          <p (click)="goServices()">Serviços</p>
          <p (click)="goToLogin()">Login</p>
        </ion-col>
        <ion-col right>
          <p>Contatos:</p>
          <p>act@cdt.unb.br</p>
          <p>Telefone: (61) 3107-4134</p>
          <p>Localização:</p>
          <p>Universidade de Brasília - Edifício CDT</p>
          <p>Campus Universitário Darcy Ribeiro</p>
          <p>Brasília - Distrito Federal</p>
          <p>Cep: 70904-970</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
