page-tecnology-desc {
    .toolbar-background{
            background-color: #000;
            text-align: center;
        }
    $grid-padding-width: 50px;

}

div.menu{
    color: #fff;
    text-align: left;

}
.menu img
{
    float: right;
}  

div.text-box
{
    margin:55px;
}

div.banner img
{
    display: block;
    margin: 0 auto;
}

div.box
{
    margin: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.rodape-box
{
    margin: 15px;
}

div.rodape
{
    background-color: #00424e;
    color: white;
}