page-services {
    ion-card {
        position: relative;
        text-align: center;
        border: none;
        //border: 0px;
        

    } 
    .card-img{
        opacity: 1;
    }
    .card-title {
        position: absolute;
        top: 75%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
  }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 85%;
        width: 100%;
        color: #fff;
    }


    .ion-content{
        background-color: white;
    }
    

    .toolbar-background{
        background-color: #000;
        text-align: center;
    }
    ion-col{
        color: #fff;
    }
}

div.menu{
    color: #fff;
    text-align: left;

}
.menu img
{
    float: right;
}  

div.text-box
{
    margin:55px;
}



div.rodape
{
    background-color: #00424e;
}

div.banner img
{
    display: block;
    margin: 0 auto;
}
