<ion-header>

  <ion-navbar>
    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-start>
      <ion-col col-2>
        <ion-item>
          <ion-label floating>Categoria</ion-label>
          <ion-input type="text" [(ngModel)]="newCat"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-1><button ion-button (click)="create(newCat)"><ion-icon name="add-circle"></ion-icon>Adicionar</button></ion-col>
    </ion-row>
    <ion-row><ion-col><br></ion-col></ion-row>
    <ion-row justify-content-start class="fontWhite">
      <ion-col col-2></ion-col>
      <ion-col col-1 justify-content-center>Confirmar Edição</ion-col>
      <ion-col col-1>Excluir</ion-col>
    </ion-row>
    <ion-row><br></ion-row>
    <div *ngFor="let category of categories">
      <ion-row justify-content-start>
        <ion-col col-2>
          <ion-item>
            <ion-label floating></ion-label>
            <ion-input type="text" [(ngModel)]="category.nome_categoria"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-1 (click)="edit(category)"><br><br><ion-icon name="create" color="white"></ion-icon></ion-col>
        <ion-col col-1 (click)="del(category.idcategoria)"><br><br><ion-icon name="close-circle" color="white"></ion-icon></ion-col>
      </ion-row>
    </div>
    <ion-col col-1 ><button ion-button (click)="Logout()"><ion-icon name="add-circle"></ion-icon>Logout</button></ion-col>
  </ion-grid>
</ion-content>
