<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center primary>Editar Vitrine Tecnológica</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="back">
    <ion-grid text-center>
      <ion-row>
        <ion-col (click)="goToCreateUser()">
          <img src="assets/img/icones/cadastrar-user.png">
          <br>Cadastrar Usuário
        </ion-col>
        <ion-col (click)="goToEditUser()">
          <img src="assets/img/icones/editar-user.png">
          <br>Editar usuário
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="goToLab()">
          <img src="assets/img/icones/laboratorio.png">
          <br >Laboratórios
        </ion-col>
        <ion-col (click)="goToEditUser()">
          <img src="assets/img/icones/projetos.png">
          <br>Projetos
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="goToTech()">
          <img src="assets/img/icones/tecnologias.png">
          <br >Tecnologia
        </ion-col>
        <ion-col (click)="goToTeacher()">
          <img src="assets/img/icones/inventor.png">
          <br >Inventor
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="goToDepartment()">
          <img src="assets/img/icones/departamento.png">
          <br >Departamento
        </ion-col>
        <ion-col (click)="goToCategory()">
          <img src="assets/img/icones/categoria.png">
          <br >Categoria
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="goToKeyWord()">
          <img src="assets/img/icones/chave.png">
          <br >Palavra-Chave
        </ion-col>
        <ion-col (click)="goToSector()">
          <img src="assets/img/icones/setor.png">
          <br>Setor
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="goToEquipment()">
          <img src="assets/img/icones/chave.png">
          <br >Equipamento
        </ion-col>
        <ion-col (click)="goToService()">
          <img src="assets/img/icones/setor.png">
          <br>Serviço
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="Logout()">
          <img src="assets/img/icones/chave.png">
          <br >Logout
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>
</ion-content>
