page-edit {
    .toolbar-background{
        background-color: #1e5d6c;
        text-align: center;

    } 

    ion-content{
        background-color: map-get($colors, inovatech_blue );
    }

    ion-col{
        color: #fff;
    }

    a{text-decoration:none;}
}

div.back{
        background-color: map-get($colors, inovatech_blue );
}
.back img
{
    max-width: 100px;
    max-height: 100px;
}