<!--
  Generated template for the ServiceSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Prestação de Serviços Tecnológicos te</ion-title>
    <img src="assets/img/cdt_neg.png" margin="5px">
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Equipamento</ion-label>
            <ion-checkbox color="dark" checked="true" [(ngModel)]="isEquip" ></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Laboratório</ion-label>
            <ion-checkbox color="dark" checked="false" [(ngModel)]="isLab"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Serviço</ion-label>
            <ion-checkbox color="dark" checked="false" [(ngModel)]="isService"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Professor</ion-label>
            <ion-checkbox color="dark" checked="false" [(ngModel)]="isTeacher"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Palavra Chave</ion-label>
            <ion-checkbox color="dark" checked="false" [(ngModel)]="isKey"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Departamento</ion-label>
            <ion-checkbox color="dark" checked="false" [(ngModel)]="isDepartment"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="pins">
    <ion-grid class="cards-bg">
        <ion-row >
          <ion-col col-sm-4 *ngFor="let lab of labs; let i = index" (click)="goToLab(lab)">
            <ion-card>
              <img src="assets/img/tecnologia.svg"/>
              <ion-card-content>
                <ion-card-title>
                  {{lab.nome}}
                </ion-card-title>
                <p>
                  {{lab.descricao}}
                </p>
              </ion-card-content>
              <ion-row no-padding>
                <ion-col text-center>
                  <button ion-button  clear color="inovatech_orange" icon-start (click)="goToLab(lab)" icon-left>
                    <ion-icon name='bookmarks'></ion-icon>
                    Detalhes
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>

  <div class="rodape">
    <ion-grid margin-left="15px" margin-right="15px">
      <ion-row justify-content-end>
        <ion-col >
          <p (click)="goTecnologyProject()">Tecnologias</p>
          <p (click)="goProjects()">Projetos</p>
          <p (click)="goServices()">Serviços</p>
          <p (click)="goToLogin()">Login</p>
        </ion-col>
        <ion-col right>
          <p>Contatos:</p>
          <p>act@cdt.unb.br</p>
          <p>Telefone: (61) 3107-4134</p>
          <p>Localização:</p>
          <p>Universidade de Brasília - Edifício CDT</p>
          <p>Campus Universitário Darcy Ribeiro</p>
          <p>Brasília - Distrito Federal</p>
          <p>Cep: 70904-970</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

