modal-create {
    .inputFile{
            color: white;
            font-size: 1.25em;
            font-weight: 700;
            color: white;
            background-color: black;
            display: inline-block;
    }
}
