<ion-header>

  <ion-toolbar>
    <ion-title>
      Editar Tecnologia
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="tech.nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Apelido</ion-label>
            <ion-input type="text" [(ngModel)]="tech.apelido"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Status</ion-label>
            <ion-input type="text" [(ngModel)]="tech.situacao"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Resumo</ion-label>
            <ion-input type="text" [(ngModel)]="tech.resumo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Descrição</ion-label>
            <ion-input type="textarea" [(ngModel)]="tech.descricao"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Vantagens</ion-label>
            <ion-input type="text" [(ngModel)]="tech.vantagem"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Dados Proteção</ion-label>
            <ion-input type="textarea" [(ngModel)]="tech.dados_protecao"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngIf="has_teacher">
      <ion-row>
          <!--<ion-col>
              <ion-item>
              <ion-label color="primary" floating>Inventor</ion-label>
                  <ion-select [(ngModel)]="has_teacher.inventor_idinventor"> 
                      <ion-option *ngFor="let teacher of teachers" value="{{teacher.idinventor}}">{{teacher.nome}}</ion-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col><button ion-button><ion-icon name="add-circle"></ion-icon>Cadastrar Inventor</button></ion-col>-->
          <ion-col>
            <ion-list>
                <ion-item *ngFor="let teacher of teachers_checked; let k = index">
                    <ion-checkbox  dark  item-left [(ngModel)]="teacher.checked" (ionChange)="AddRemoveInventor(teacher.idinventor)">
                    </ion-checkbox>
                    <ion-label>{{teacher.nome}}</ion-label>
                </ion-item>
            </ion-list>
          </ion-col>    
          <ion-col><button ion-button (click)="RegisterInventor()"><ion-icon name="add-circle"></ion-icon> Cadastrar Novo Inventor</button></ion-col>
      </ion-row>
    </div>
    <div *ngIf="has_lab">
      <ion-row>
          <!--<ion-col>
              <ion-item>
              <ion-label color="primary" floating>Laboratório</ion-label>
                  <ion-select [(ngModel)]="has_lab.laboratorio_idlaboratorio">
                      <ion-option *ngFor="let lab of labs" value="{{lab.idlaboratorio}}">{{lab.nome}}</ion-option>
                  </ion-select>
              </ion-item>
          </ion-col>-->
      <ion-col>
        <ion-list>
            <ion-item *ngFor="let lab of labs_checked; let k = index">
                <ion-checkbox  dark  item-left [(ngModel)]="lab.checked" (ionChange) ="AddRemoveLab(lab.idlaboratorio)">

                </ion-checkbox>
                <ion-label>{{lab.nome}}</ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
      <ion-col><button ion-button (click)="RegisterLab()"><ion-icon name="add-circle"></ion-icon> Cadastrar Novo Laboratório</button></ion-col>
  </ion-row>
    </div>
    <div *ngIf="has_dep">
      <ion-row>
          <!--<ion-col>
              <ion-item>
              <ion-label color="primary" floating>Departamento</ion-label>
                  <ion-select [(ngModel)]="has_dep.departamento_iddepartamento">
                      <ion-option *ngFor="let department of departments" value="{{department.iddepartamento}}">{{department.nome}}</ion-option>
                  </ion-select>
              </ion-item>
          </ion-col>-->
          <ion-col>
            <ion-list>
                <ion-item *ngFor="let department of departments_checked; let k = index">
                    <ion-checkbox  dark  item-left [(ngModel)]="department.checked" (ionChange)="AddRemoveDept(department.iddepartamento)">
                    </ion-checkbox>
                    <ion-label>{{department.nome}}</ion-label>
                </ion-item>
            </ion-list>
          </ion-col>
          <ion-col><button ion-button (click)="registerLab()"><ion-icon name="add-circle"></ion-icon> Cadastrar Novo Departamento</button></ion-col>
      </ion-row>
    </div>
    <div *ngIf="has_key">
      <ion-row>
          <!--<ion-col>
              <ion-item>
              <ion-label color="primary" floating>Palavra-chave</ion-label>
                  <ion-select [(ngModel)]="has_key.palavra_chave_idpalavra_chave">
                      <ion-option *ngFor="let key of keys" value="{{key.idpalavra_chave}}">{{key.nome}}</ion-option>
                  </ion-select>
              </ion-item>
          </ion-col>-->
          <ion-col>
            <ion-list>
                <ion-item *ngFor="let key of keys_checked; let l = index">
                    <ion-checkbox  dark  item-left [(ngModel)]="key.checked" (ionChange)="AddRemoveKeyWord(key.idpalavra_chave)">

                    </ion-checkbox>
                    <ion-label>{{key.nome}}</ion-label>
                </ion-item>
            </ion-list>
          </ion-col>
          <ion-col><button ion-button><ion-icon name="add-circle"></ion-icon>Cadastrar Palavra-chave</button></ion-col>
      </ion-row>
    </div>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Licenciada ?</ion-label>
            <ion-input type="text" [(ngModel)]="tech.licenciada"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button (click)="edit(tech)"><ion-icon name="add-circle"></ion-icon>Editar</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>toDoProjeto</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>toDoAnexoArquivo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>toDoMany Palavra-Chave e Departamentos</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
