<ion-header>

  <ion-toolbar>
    <ion-title>
      Adicionar Tecnologia
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="newTech.nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Apelido</ion-label>
            <ion-input type="text" [(ngModel)]="newTech.apelido"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Status</ion-label>
            <ion-input type="text" [(ngModel)]="newTech.situacao"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Resumo</ion-label>
            <ion-input type="text" [(ngModel)]="newTech.resumo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Descrição</ion-label>
            <ion-input type="textarea" [(ngModel)]="newTech.desc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Vantagens</ion-label>
            <ion-input type="text" [(ngModel)]="newTech.vantagem"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Dados Proteção</ion-label>
            <ion-input type="textarea" [(ngModel)]="newTech.dados_protecao"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--<ion-row>
        <ion-col>
            <ion-item>
              <ion-label color="primary" floating>Inventor</ion-label>
                <ion-select [(ngModel)]="newTech.idinventor">
                    <ion-option *ngFor="let teacher of teachers" value="{{teacher.idinventor}}">{{teacher.nome}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col><button ion-button (click)="registerInventor()"><ion-icon name="add-circle"></ion-icon>Cadastrar Inventor</button></ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col>
        <ion-list>
            <ion-item *ngFor="let teacher of teachers">
                <ion-checkbox dark  item-left (ionChange)="AddInventor(teacher.idinventor)"></ion-checkbox>
                 <ion-label >{{teacher.nome}}</ion-label>
            </ion-item>
        </ion-list>
      </ion-col>    
        <ion-col><button ion-button (click)="registerInventor()"><ion-icon name="add-circle"></ion-icon> Cadastrar Novo Inventor</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
            <ion-item *ngFor="let lab of labs">
                <ion-checkbox dark  item-left (ionChange)="AddLab(lab.idlaboratorio)"></ion-checkbox>
                 <ion-label >{{lab.nome}}</ion-label>
            </ion-item>
        </ion-list>
      </ion-col>    
        <ion-col><button ion-button (click)="registerLab()"><ion-icon name="add-circle"></ion-icon> Cadastrar Novo Laboratório</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let department of departments">
              <ion-checkbox dark  item-left (ionChange)="AddDepartamento(department.iddepartamento)"></ion-checkbox>
                <ion-label >{{department.nome}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>    
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
            <ion-item *ngFor="let key of keys">
                <ion-checkbox dark  item-left (ionChange)="AddKeyWord(key.idpalavra_chave)"></ion-checkbox>
                 <ion-label >{{key.nome}}</ion-label>
            </ion-item>
        </ion-list>
      </ion-col>    
        <ion-col><button ion-button (click)="ShowKeyWordRegister()"><ion-icon name="add-circle"></ion-icon> Cadastrar Nova Palavra-chave</button></ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Licenciada ?</ion-label>
            <ion-input type="text" [(ngModel)]="newTech.licenciada"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
          <form name="formImage">
            <input type="file"
                    id="file"
                    (change)="HandleFileInput($event.target.files)"
                    class="inputFile"/>
          </form>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button (click)="create(newTech)">Cadastrar tecnologia</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
