modal-create {
    .inputFile{
            color: rgb(20, 123, 207);
            font-size: 1.25em;
            font-weight: 700;
            color: rgb(0, 0, 0);
            background-color: rgb(55, 129, 148);
            display: inline-block;
            border-radius: 5px 5px 5px 5px;
    }
}
