<!--
  Generated template for the TecnologyCrudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tecnologias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)" >
    </ion-refresher>
    <ion-row justify-content-center class="fontWhite"> 
        <ion-col col-9><button ion-button (click)="modalCreate()"><ion-icon name="add-circle"></ion-icon>Adicionar Nova Tecnologia</button></ion-col>
        <ion-col col-1 >Editar</ion-col>
        <ion-col col-1 >Excluir</ion-col>
      </ion-row>
      <ion-row><br></ion-row>
      <ion-grid>
          <div *ngFor="let tech of techs" cache-view="false" >
          <ion-row justify-content-center>
            <ion-col col-9>
              <ion-item>
                <!--
                <ion-label floating></ion-label>
                <ion-input type="text" [(ngModel)]="tech.nome"></ion-input>
                -->
                {{tech.nome}}
              </ion-item>
            </ion-col>
            <ion-col col-1 (click)="modalEdit(tech)" ><br><br><ion-icon name="create" color="white"></ion-icon></ion-col>
            <ion-col col-1 (click)="del(tech.idtecnologia)"><br><br><ion-icon name="close-circle" color="white"></ion-icon></ion-col>
          </ion-row>
        </div>
        <ion-col col-1 ><button ion-button (click)="Logout()"><ion-icon name="add-circle"></ion-icon>Logout</button></ion-col>
      </ion-grid>
</ion-content>
