<ion-header>
  <div class="header-black">
    <img src="assets/img/cdt_neg.png">
    
  </div>
   
</ion-header>

<ion-content>
  <div class="carrossel">
    <ion-grid no-padding>
      <ion-row>
        <ion-col margin="5px"><img src="assets/img/logo_vitrine_neg.png"></ion-col>
        <ion-col  margin="5px" align-self-center *ngFor="let category of categories" (click)="goTecnologyDetail(category.idcategoria)"><b>{{category.nome_categoria}}</b></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--<div class="destaque">
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <ion-slides autoplay="5000" loop="true" speed="3000">
            <ion-slide *ngFor="let slide of slides_img">
              <img src="{{slide}}">
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>-->
  <div class="area">
    <ion-grid class="cards-bg">
      <ion-row>
        <ion-col>
          <ion-card>
            <img src="assets/img/projetos.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Projetos
              </ion-card-title>
              <p>
                A Agência de Comercialização de Tecnologia (ACT) atua promovendo a transferência das tecnologias de titularidade da Universidade de Brasília
                , desde a negociação com o setor produtivo, avaliação e valoração da tecnologia, até a formalização e gestão dos instrumentos jurídicos.
              </p>
            </ion-card-content>
            <ion-row no-padding>
              <ion-col text-center>
                <button ion-button color="inovatech_orange" icon-start (click)="goProjects()" icon-left>
                  <ion-icon name='bookmarks'></ion-icon>
                  Ver Projetos
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col>

          <ion-card>
            <div>
              <img src="assets/img/tecnologia.jpg"/>
            </div>

            <ion-card-content>
              <ion-card-title>
                Tecnologias
              </ion-card-title>
              <p>
              A Universidade de Brasília, por meio do Centro de Apoio ao Desenvolvimento Tecnológico (CDT/UnB), possibilita a comercialização eficiente das tecnologias oriundas da Universidade, por meio do licenciamento de direitos de propriedade industrial (patentes, marcas, desenhos industriais), topografias de circuitos integrados, cultivares, programas de computador e transferência de Know-How.
              </p>
            </ion-card-content>

            <ion-row no-padding>
              <ion-col text-center>
                <button ion-button color="inovatech_orange" icon-start (click)="goTecnologyProject()" icon-left>
                  <ion-icon name='bulb'></ion-icon>
                  Inovações
                </button>
              </ion-col>
            </ion-row>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="prestacao">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <h1 margin="15px">
            Prestação de Serviços
          </h1>
          <p margin="15px">
            O Disque Tecnologia promove o fortalecimento e desenvolvimento de microempresas e pequenas empresas, estimulando o empreendedorismo. O programa foi criado
            em 1994 e nasceu da necessidade de um serviço de atendimento aos empresários do Distrito Federal, que demandavam soluções para questões tecnológicas de média 
            complexidade.
          </p>
          <br>
          <button ion-button color="inovatech_orange" icon-start (click)="goServices(1)" margin="15px" icon-left text-center> 
            <ion-icon name='list-box'></ion-icon>
            Equipamentos
          </button>
          <button ion-button color="inovatech_orange" icon-start (click)="goServices(2)" margin="15px" icon-left text-center> 
            <ion-icon name='list-box'></ion-icon>
            Laboratórios
          </button>
          <button ion-button color="inovatech_orange" icon-start (click)="goServices(3)" margin="15px" icon-left text-center> 
            <ion-icon name='list-box'></ion-icon>
            Seviços
          </button>          
        </ion-col>
        <ion-col col-12 col-sm align-self-center>
          <img src="assets/img/prestacao.png"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="rodape">
    <ion-grid margin-left="15px" margin-right="15px">
      <ion-row justify-content-end>
        <ion-col >
          <p (click)="goTecnologyProject()">Tecnologias</p>
          <p (click)="goProjects()">Projetos</p>
          <p (click)="goServices()">Serviços</p>
          <p (click)="goToLogin()">Login</p>
        </ion-col>
        <ion-col right>
          <p>Contatos:</p>
          <p>act@cdt.unb.br</p>
          <p>Telefone: (61) 3107-4134</p>
          <p>Localização:</p>
          <p>Universidade de Brasília - Edifício CDT</p>
          <p>Campus Universitário Darcy Ribeiro</p>
          <p>Brasília - Distrito Federal</p>
          <p>Cep: 70904-970</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
