page-home {
    .item-content {
        background-color:#1e5d6c;
    }
}



div.header-black
{
    background-color: #000;
}
.header-black img
{
    margin: 15px;
}

div.carrossel
{
    background-color: #1e5d6c;
    color: white;
    margin: 0px;
}

div.destaque
{
    background-color: #1e5d6c;
}

div.area
{
    background-color: white;
}

.area img
{
    max-width: 700px;
    max-height: 400px;
    display: block;
    margin: auto;

}

div.prestacao
{
    background-color: #1e5d6c;
    color: white;
}
.prestacao img
{
    max-width: 700px;
    max-height: 500px;
    display: block;
    margin: auto;  
}

div.rodape-box
{
    margin: 15px;
}

div.rodape
{
    background-color: #00424e;
    color: white;
}

