<!--
  Generated template for the ServiceDescPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Laboratório</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="background">
    <ion-grid padding>
    <ion-row>
      <ion-col  align-self-center col-12><h1>{{lab.nome}} - {{lab.sigla}}</h1></ion-col>
    </ion-row>
      <ion-row>
        <ion-col col-sm-6>
          <p>{{lab.descricao}}</p>
        </ion-col>
        <ion-col col-sm-6>
          <ion-slides autoplay="5000" loop="true" speed="3000">
              <ion-slide *ngFor="let slide of lab_img">
                <img src="{{slide}}">
              </ion-slide>
            </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>Professores Associados:</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <div class="cards-bg">
                <ion-card>
                  <a href="https://{{lab.coord_link}}" target="_blank">
                    <img src="assets/img/tecnologia.svg"/>
                    <ion-card-content>
                      <ion-card-title>
                        Coordenador: {{lab.coord_nome}}
                      </ion-card-title>
                        <button ion-button  clear color="inovatech_orange" icon-start icon-left>
                          <ion-icon name='bookmarks'></ion-icon>
                          Lattes
                        </button>
                    </ion-card-content>
                  </a>
                </ion-card>
              </div>
        </ion-col>
        <!--<div class="pins">
          <ion-grid class="cards-bg">
            <ion-row>-->
            <ion-col class="pins" col-sm-4 *ngFor="let teacher of has_teacher; let i = index">
              <a  href="{{teacher.lattes}}" target="_blank">
                <ion-card>
                  <img src="assets/img/tecnologia.svg"/>
                  <ion-card-content>
                    <ion-card-title>
                      {{teacher.nome}}
                    </ion-card-title>
                    <p>
                      {{teacher.link_lattes}}
                    </p>
                  </ion-card-content>
                  <ion-row no-padding>
                    <ion-col text-center>
                      <button ion-button  clear color="inovatech_orange" icon-start icon-left>
                        <ion-icon name='bookmarks'></ion-icon>
                        Lattes
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </a>
            </ion-col>
          <!--</ion-row>
          </ion-grid>
        </div>-->
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>Serviços Prestados:</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngFor = "let service of services">
            <p>{{service.name}}</p>
              <ul>
                <div *ngFor="let sub of service.subname">
                  <li>{{sub}}</li>
                </div>
              </ul>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>Equipamentos:</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="pins">
          <ion-grid class="cards-bg">
            <ion-row>
            <ion-col col-sm-4 *ngFor="let equip of has_equip; let i = index">
              <ion-card>
                <img src="assets/img/got.jpg"/>
                <ion-card-content>
                  <ion-card-title>
                    {{equip.equipamento}}
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          </ion-grid>
        </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>Informações de Contato:</h2>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <p>Responsável: {{lab.contato}}</p>
            <p>Email: {{lab.email}}</p>
            <p>Telefone: {{lab.telefone}}</p>
            <p>Endereço: {{lab.endereco}} - {{lab.cidade}} - {{lab.UF}}</p>
            <p>CEP: {{lab.CEP}}</p>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <h2>Palavras Chaves:</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-wrap>
          <div *ngFor="let key of has_key" >
            {{key.nome}} 
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>    
  <div class="rodape">
    <ion-grid margin-left="15px" margin-right="15px">
      <ion-row justify-content-end>
        <ion-col >
          <p (click)="goTecnologyProject()">Tecnologias</p>
          <p (click)="goProjects()">Projetos</p>
          <p (click)="goServices()">Serviços</p>
          <p (click)="goToLogin()">Login</p>
        </ion-col>
        <ion-col right>
          <p>Contatos:</p>
          <p>act@cdt.unb.br</p>
          <p>Telefone: (61) 3107-4134</p>
          <p>Localização:</p>
          <p>Universidade de Brasília - Edifício CDT</p>
          <p>Campus Universitário Darcy Ribeiro</p>
          <p>Brasília - Distrito Federal</p>
          <p>Cep: 70904-970</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

