<!--
  Generated template for the LabCrudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Laboratórios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)" >
    </ion-refresher>
    <ion-grid>
      <ion-row justify-content-center class="fontWhite">
        <ion-col col-9 ><button ion-button (click)="modalCreate()"><ion-icon name="add-circle"></ion-icon>Adicionar Novo Laboratório</button></ion-col>
        <ion-col col-1 >Editar</ion-col>
        <ion-col col-1 >Excluir</ion-col>
      </ion-row>
      <ion-row><br></ion-row>
      <div *ngFor="let lab of labs">
        <ion-row justify-content-center>
          <ion-col col-9>
            <ion-item>
              <!--
              <ion-label floating></ion-label>
              <ion-input type="text" [(ngModel)]="lab.nome"></ion-input>
              -->
              {{lab.nome}}
            </ion-item>
          </ion-col>
          <ion-col col-1 (click)="modalEdit(lab)" ><br><br><ion-icon name="create" color = "white"></ion-icon></ion-col>
          <ion-col col-1 (click)="del(lab.idlaboratorio)" ><br><br><ion-icon name="close-circle" color="white"></ion-icon></ion-col>
        </ion-row>
    </div>
    <ion-col col-1 ><button ion-button (click)="Logout()"><ion-icon name="add-circle"></ion-icon>Logout</button></ion-col>
  </ion-grid>
</ion-content>
