<ion-header>

  <ion-toolbar>
    <ion-title>
      Adicionar Laboratório
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Fechar</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Sigla</ion-label>
            <ion-input type="textarea" [(ngModel)]="newLab.sigla"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let department of departments">
              <ion-checkbox dark  item-left (ionChange)="AddDepartamento(department.iddepartamento)"></ion-checkbox>
                <ion-label >{{department.nome}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>    
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Descrição</ion-label>
            <ion-input type="textarea" [(ngModel)]="newLab.desc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Nome do Coordenador</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.coord_nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Link Lattes do Coordenador</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.coord_lattes"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Contato</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.contato"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Telefone</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.telefone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Endereço</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.endereco"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Cidade</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.cidade"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>UF</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.UF"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>CEP</ion-label>
            <ion-input type="text" [(ngModel)]="newLab.CEP"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-list>
            <ion-item *ngFor="let key of keys">
              <ion-checkbox dark  item-left (ionChange)="AddKeyWord(key.idpalavra_chave)"></ion-checkbox>
              <ion-label >{{key.nome}}</ion-label>
          </ion-item>
        </ion-list>  
        </ion-item>
      </ion-col>  
      <ion-col><button ion-button (click)='ShowKeyWordModalPage()'><ion-icon name="add-circle"></ion-icon>Cadastrar Palavra-chave</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
            <ion-item *ngFor="let teacher of teachers">
                <ion-checkbox dark  item-left (ionChange)="AddInventor(teacher.idinventor)"></ion-checkbox>
                 <ion-label >{{teacher.nome}}</ion-label>
            </ion-item>
        </ion-list>
      </ion-col>    
        <ion-col><button ion-button (click)="registerInventor()"><ion-icon name="add-circle"></ion-icon> Cadastrar Novo Inventor</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>toDoFotos</ion-col>
    </ion-row>
  </ion-grid>
  <!--ADICIONAR SERVIÇOS AO LABORATÓRIO-->
  <ion-list>
      <section *ngFor="let nwService of newServices;let k = index">
        <ion-item-divider color="inovatech_orange">
          Serviços#{{k + 1}}
        </ion-item-divider>
        <ion-item>
          <ion-label floating>Serviço</ion-label>
          <ion-input type="text" [(ngModel)]="nwService.name"></ion-input>
        </ion-item>
        <span float-right ion-button icon-left clear *ngIf="newServices.length > 1" (click)="removeField(k)">
          <ion-icon name="close"></ion-icon>
          Remove
        </span>
        <section *ngFor="let newSub of nwService.subname;let j = index">
          <ion-item-divider color="inovatech_orange">
            SubServiço#{{j + 1}}
          </ion-item-divider>
          <ion-item>
            <ion-label floating>Sub</ion-label>
            <ion-input type="text" [(ngModel)]="nwService.subname[j]" name="{{j}}"></ion-input>
          </ion-item>
          <span float-right ion-button icon-left clear *ngIf="nwService.subname.length > 1" (click)="removeSubField(k,j)">
            <ion-icon name="close"></ion-icon>
            Remove
          </span>
        </section>
        <span ion-button float-left icon-left clear (click)="addNewSubField(k)">
          <ion-icon name="add"></ion-icon>
          Adicionar novo SubServiço
        </span> 
      </section>
      <span ion-button float-left icon-left clear (click)="addNewField()">
        <ion-icon name="add"></ion-icon>
        Adicionar novo Serviço
      </span>
    </ion-list>
    <!--FIM DO ADICIONAR SERVIÇOS-->
    <!--ADICIONAR EQUIPAMENTOS AO LABORATÓRIO-->
  <ion-list>
    <section *ngFor="let nwEquip of newEquip;let w = index">
      <ion-item-divider color="inovatech_orange">
        Equipamento#{{w + 1}}
      </ion-item-divider>
      <ion-item>
        <ion-label floating>Equipamento</ion-label>
        <ion-input type="text" [(ngModel)]="newEquip[w]"></ion-input>
      </ion-item>
      <span float-right ion-button icon-left clear *ngIf="newEquip.length > 1" (click)="removeFieldEquip(w)">
        <ion-icon name="close"></ion-icon>
        Remove
      </span>
    </section>
    <span ion-button float-left icon-left clear (click)="addNewEquip()">
      <ion-icon name="add"></ion-icon>
      Adicionar novo Equipamento
    </span>
  </ion-list>
  <!--FIM DO ADICIONAR EQUIPS-->
  <ion-grid>
    <ion-row>
      <form name="formImage">
        <input type="file"
                id="file"
                (change)="HandleFileInput($event.target.files)"
                class="inputFile"/>
      </form>
    </ion-row>
  <ion-row>
      <ion-col><button ion-button (click)="create(newLab)"><ion-icon name="add-circle"></ion-icon>Adicionar</button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
