<ion-header>

  <ion-toolbar>
    <ion-title>
      Editar Laboratório
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="lab.nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Sigla</ion-label>
            <ion-input type="textarea" [(ngModel)]="lab.sigla"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Descrição</ion-label>
            <ion-input type="textarea" [(ngModel)]="lab.descricao"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngIf="has_dep">
      <ion-row>
          <ion-col>
            <ion-list>
                <ion-item *ngFor="let department of departments_checked; let k = index">
                    <ion-checkbox  dark  item-left [(ngModel)]="department.checked" (ionChange)="AddRemoveDept(department.iddepartamento)">
                    </ion-checkbox>
                    <ion-label>{{department.nome}}</ion-label>
                </ion-item>
            </ion-list>
          </ion-col>
          <ion-col><button ion-button (click)="registerLab()"><ion-icon name="add-circle"></ion-icon> Cadastrar Novo Departamento</button></ion-col>
      </ion-row>
    </div>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Nome do Coordenador</ion-label>
            <ion-input type="textarea" [(ngModel)]="lab.coord_nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Lattes do Coordenador</ion-label>
            <ion-input type="textarea" [(ngModel)]="lab.coord_link"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Contato</ion-label>
            <ion-input type="text" [(ngModel)]="lab.contato"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Telefone</ion-label>
            <ion-input type="text" [(ngModel)]="lab.telefone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" [(ngModel)]="lab.email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Endereço</ion-label>
            <ion-input type="text" [(ngModel)]="lab.endereco"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>Cidade</ion-label>
            <ion-input type="text" [(ngModel)]="lab.cidade"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>UF</ion-label>
            <ion-input type="text" [(ngModel)]="lab.UF"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <ion-item>
            <ion-label floating>CEP</ion-label>
            <ion-input type="text" [(ngModel)]="lab.CEP"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngIf="has_key">
      <ion-row>
        <ion-col>
          <ion-list>
              <ion-item *ngFor="let key of keys_checked; let l = index">
                  <ion-checkbox  dark  item-left [(ngModel)]="key.checked" (ionChange)="AddRemoveKeyWord(key.idpalavra_chave)">

                  </ion-checkbox>
                  <ion-label>{{key.nome}}</ion-label>
              </ion-item>
          </ion-list>
        </ion-col>
        <ion-col><button ion-button><ion-icon name="add-circle"></ion-icon>Cadastrar Palavra-chave</button></ion-col>
      </ion-row>
    </div>
    <div *ngIf="has_teacher">
      <ion-row>
          <ion-col>
            <ion-list>
                <ion-item *ngFor="let teacher of teachers_checked; let k = index">
                    <ion-checkbox  dark  item-left [(ngModel)]="teacher.checked" (ionChange)="AddRemoveInventor(teacher.idinventor)">
                    </ion-checkbox>
                    <ion-label>{{teacher.nome}}</ion-label>
                </ion-item>
            </ion-list>
          </ion-col>    
          <ion-col><button ion-button (click)="RegisterInventor()"><ion-icon name="add-circle"></ion-icon> Cadastrar Novo Inventor</button></ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>toDoProjeto</ion-col>
    </ion-row>
  </ion-grid>
   <!--ADICIONAR SERVIÇOS AO LABORATÓRIO-->
   <ion-list>
    <section *ngFor="let nwService of services;let k = index">
      <ion-item-divider color="inovatech_orange">
        Serviços#{{k + 1}}
      </ion-item-divider>
      <ion-item>
        <ion-label floating>Serviço</ion-label>
        <ion-input type="text" [(ngModel)]="nwService.name"></ion-input>
      </ion-item>
      <span float-right ion-button icon-left clear *ngIf="services.length > 1" (click)="removeField(k)">
        <ion-icon name="close"></ion-icon>
        Remove
      </span>
      <section *ngFor="let newSub of nwService.subname;let j = index">
        <ion-item-divider color="inovatech_orange">
          SubServiço#{{j + 1}}
        </ion-item-divider>
        <ion-item>
          <ion-label floating>Sub</ion-label>
          <ion-input type="text" [(ngModel)]="nwService.subname[j]" name="{{j}}"></ion-input>
        </ion-item>
        <span float-right ion-button icon-left clear *ngIf="nwService.subname.length > 1" (click)="removeSubField(k,j)">
          <ion-icon name="close"></ion-icon>
          Remove
        </span>
      </section>
      <span ion-button float-left icon-left clear (click)="addNewSubField(k)">
        <ion-icon name="add"></ion-icon>
        Adicionar novo SubServiço
      </span> 
    </section>
    <span ion-button float-left icon-left clear (click)="addNewField()">
      <ion-icon name="add"></ion-icon>
      Adicionar novo Serviço
    </span>
  </ion-list>
  <!--FIM DO ADICIONAR SERVIÇOS-->
  <!--ADICIONAR EQUIPAMENTOS AO LABORATÓRIO-->
  <ion-list>
    <section *ngFor="let nwEquip of equips;let w = index">
      <ion-item-divider color="inovatech_orange">
        Equipamento#{{w + 1}}
      </ion-item-divider>
      <ion-item>
        <ion-label floating>Equipamento</ion-label>
        <ion-input type="text" [(ngModel)]="equips[w]"></ion-input>
      </ion-item>
      <span float-right ion-button icon-left clear *ngIf="equips.length > 1" (click)="removeFieldEquip(w)">
        <ion-icon name="close"></ion-icon>
        Remove
      </span>
    </section>
    <span ion-button float-left icon-left clear (click)="addNewEquip()">
      <ion-icon name="add"></ion-icon>
      Adicionar novo Equipamento
    </span>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col><button ion-button (click)="edit(lab)"><ion-icon name="add-circle"></ion-icon>Editar</button></ion-col>
    </ion-row>
  </ion-grid>
  <!--FIM DO ADICIONAR EQUIPS-->
</ion-content>
