<!--
  Generated template for the CategoryCrudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Equipamentos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-start>
      <ion-col col-2>
        <ion-item>
          <ion-label floating>Equipamento</ion-label>
          <ion-input type="text" [(ngModel)]="newEquip.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-1><button ion-button (click)="create(newEquip)"><ion-icon name="add-circle"></ion-icon>Adicionar</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form name="formImage">
          <input type="file"
                  id="file"
                  (change)="HandleFileInput($event.target.files)"
                  class="inputFile"/>
        </form>
      </ion-col>
    </ion-row>

    <ion-row><ion-col><br></ion-col></ion-row>
    <ion-row justify-content-start class="fontWhite">
      <ion-col col-2></ion-col>
      <ion-col col-1 justify-content-center>Confirmar Edição</ion-col>
      <ion-col col-1>Excluir</ion-col>
    </ion-row>
    <ion-row><br></ion-row>
    <div *ngFor="let equipment of equipments">
      <ion-row justify-content-start>
        <ion-col col-2>
          <ion-item>
            <ion-label floating></ion-label>
            <ion-input type="text" [(ngModel)]="equipment.equipamento"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-1 (click)="edit(equipment)"><br><br><ion-icon name="create" color="white"></ion-icon></ion-col>
        <ion-col col-1 (click)="del(equipment.idequipamento)"><br><br><ion-icon name="close-circle" color="white"></ion-icon></ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="formEquip" (ngSubmit)="manage(formEquip.value)">
      <ion-list>
        <div formArrayName = "equips">
          <section [formGroupName] = "i" *ngFor="let equip of formEquip.controls.equips.controls; let i = index">
            <ion-item-group>
              <ion-item-divider color="light">
                Equipamento#{{i + 1}}
              </ion-item-divider> 
              <ion-item>
                <ion-label floating>Nome do Equipamento</ion-label>
                <ion-input type = "text" maxlenght="50" formControlName="name"></ion-input>
              </ion-item>
              <span float-right ion-button icon-left clear *ngIf="formEquip.controls.equips.length > 1" (click)="removeInputField(i)">
                <ion-icon name="close"></ion-icon>
                Remove
              </span>
            </ion-item-group>
          </section>
        </div>
        <span ion-button float-left icon-left clear (click)="addNewInputField()">
          <ion-icon name="add"></ion-icon>
          Adicionar novo Equipamento
        </span> 
      </ion-list>
      <button ion-button block margin-top color="inovatech_orange" type="submit" [disabled]="!formEquip.valid" text-center>Enviar</button>
    </form>
  <!--<div formArrayName="equips" *ngFor="let equip of formEquip.get('equips').controls; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="name" placeholder="Equip name">
    </div>
    Chosen Name : {{formEquip.controls.equips.controls[i].controls.name.value}}
  </div>
-->
</ion-content>
