<!--
  Generated template for the ServicesCrudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Serviços Tecnológicos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>Novo Teste</h1>
    <ion-list>
      <section *ngFor="let nwService of newService;let k = index">
        <ion-item-divider color="inovatech_orange">
          Serviços#{{k + 1}}
        </ion-item-divider>
        <ion-item>
          <ion-label floating>Serviço</ion-label>
          <ion-input type="text" [(ngModel)]="nwService.name"></ion-input>
        </ion-item>
        <span float-right ion-button icon-left clear *ngIf="newService.length > 1" (click)="removeField(k)">
          <ion-icon name="close"></ion-icon>
          Remove
        </span>
        <section *ngFor="let newSub of nwService.subname;let j = index">
          <ion-item-divider color="inovatech_orange">
            SubServiço#{{j + 1}}
          </ion-item-divider>
          <ion-item>
            <ion-label floating>Sub</ion-label>
            <ion-input type="text" [(ngModel)]="nwService.subname[j]" name="{{j}}"></ion-input>
          </ion-item>
          <span float-right ion-button icon-left clear *ngIf="nwService.subname.length > 1" (click)="removeSubField(k,j)">
            <ion-icon name="close"></ion-icon>
            Remove
          </span>
        </section>
        <span ion-button float-left icon-left clear (click)="addNewSubField(k)">
          <ion-icon name="add"></ion-icon>
          Adicionar novo SubServiço
        </span> 
      </section>
      <span ion-button float-left icon-left clear (click)="addNewField()">
        <ion-icon name="add"></ion-icon>
        Adicionar novo Serviço
      </span>
      <button ion-button (click)="teste2()">Teste2</button>
    </ion-list>
</ion-content>

