<!--
  Generated template for the TecnologyProject page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>  
    <ion-title>
      <div class="menu">
        <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    Tecnologias
        <img src="assets/img/cdt_neg.png" margin="5px"> 
      </div>
    </ion-title>
  </ion-navbar>
  

</ion-header>

<ion-content no-padding>
    <!--<ion-grid>
      <ion-row justify-content-center>
        <div class="banner">
          <ion-col>
            <img src="assets/img/banner_act.jpg">
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>-->
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-1></ion-col>
        <ion-col col-7 col-sm>
          <div class="text-box"> 
          <h1>
            Negócios Tecnológicos
          </h1>
          <p>
            A área de Negócios Tecnológicos do CDT/UnB é responsável pela transferência de tecnologia e serviços tecnológicos na Universidade de Brasília, envolvendo o Disque Tecnologia e o Serviços Brasileira de Respostas Técnicas.</p>
            <p>A área de Transferência de Tecnologia atua no processo de negociação com o setor empresarial, na avaliação e valoração da tecnologia, bem como na formalização e gestão de instrumentos jurídicos.
            As ações mais comuns de transferência de tecnologia para o setor empresarial concentram-se no licenciamento de direitos de propriedade industrial (patentes, marcas, desenhos industriais), topografias de circuitos integrados, cultivares, programas de computador e transferência de Know-How. A área em questão, vem promovendo estudos de avaliação e valoração de tecnologias, bem como a prospecção de empresas potencialmente interessadas nos resultados das pesquisas desenvolvidas na UnB. 
            <p>Após contatar a empresa, ela atua na negociação e celebração de instrumentos jurídicos específicos, contratos de licenciamento e transferência de tecnologia, dentre outros. A área de Transferência de Tecnologia é responsável por articular a formalização e gestão destes instrumentos e ainda auxilia a comunidade acadêmica na submissão de projetos no âmbito da Lei 11.196/05, alterada pela Lei 11.774/08, conhecida como “Lei do Bem”, que prevê incentivos fiscais às empresas que investem em inovação tecnológica, por meio de parcerias com universidades.
            Visando dinamizar a Transferência de Tecnologias há a oportunidades de licenciamentos para empresas de quaisquer unidades da federação, incluindo startups, e empresas incubadas.
          </p>
          </div>
        </ion-col>
        <ion-col col-1>
        </ion-col>
        <ion-col col-3 col-sm justify-content-center>
          <img class="card-img" src="assets/img/tecnologias-01.svg" (click)="goTecnologyDetail()"/>
          <!--<a ion-item (click)="goTecnologyDetail()" no-lines>
            <ion-card>
              <div class="card-img"><img src="assets/img/tecnologias-01.svg"/></div>
              <div class="card-title">Tecnologias Licenciadas</div>
              <div class="card-subtitle"></div>
            </ion-card>
          </a>-->
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--
  <div class="text-box">
    <h1>
      Negócios Tecnológicos
    </h1>
    <p>
      A área de Negócios Tecnológicos do CDT/UnB é responsável pela transferência de tecnologia e serviços tecnológicos na Universidade de Brasília, envolvendo o Disque Tecnologia e o Serviços Brasileira de Respostas Técnicas.
A área de Transferência de Tecnologia atua no processo de negociação com o setor empresarial, na avaliação e valoração da tecnologia, bem como na formalização e gestão de instrumentos jurídicos.
As ações mais comuns de transferência de tecnologia para o setor empresarial concentram-se no licenciamento de direitos de propriedade industrial (patentes, marcas, desenhos industriais), topografias de circuitos integrados, cultivares, programas de computador e transferência de Know-How. A área em questão, vem promovendo estudos de avaliação e valoração de tecnologias, bem como a prospecção de empresas potencialmente interessadas nos resultados das pesquisas desenvolvidas na UnB. Após contatar a empresa, ela atua na negociação e celebração de instrumentos jurídicos específicos, contratos de licenciamento e transferência de tecnologia, dentre outros. A área de Transferência de Tecnologia é responsável por articular a formalização e gestão destes instrumentos e ainda auxilia a comunidade acadêmica na submissão de projetos no âmbito da Lei 11.196/05, alterada pela Lei 11.774/08, conhecida como “Lei do Bem”, que prevê incentivos fiscais às empresas que investem em inovação tecnológica, por meio de parcerias com universidades.
Visando dinamizar a Transferência de Tecnologias há a oportunidades de licenciamentos para empresas de quaisquer unidades da federação, incluindo startups, e empresas incubadas.
    </p>
  </div>
  <div >
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm justify-content-center>
        <a ion-item (click)="goTecnologyDetail()" no-lines>
          <ion-card>
            <div class="card-img"><img src="assets/img/tecnologias-01.svg"/></div>
            <div class="card-title">Tecnologias Licenciadas</div>
            <div class="card-subtitle"></div>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>-->
   <div class="rodape">
    <ion-grid margin-left="15px" margin-right="15px">
      <ion-row justify-content-end>
        <ion-col >
          <p (click)="goTecnologyProject()">Tecnologias</p>
          <p (click)="goProjects()">Projetos</p>
          <p (click)="goServices()">Serviços</p>
          <p (click)="goToLogin()">Login</p>
        </ion-col>
        <ion-col right>
          <p>Contatos:</p>
          <p>act@cdt.unb.br</p>
          <p>Telefone: (61) 3107-4134</p>
          <p>Localização:</p>
          <p>Universidade de Brasília - Edifício CDT</p>
          <p>Campus Universitário Darcy Ribeiro</p>
          <p>Brasília - Distrito Federal</p>
          <p>Cep: 70904-970</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
