<!--
  Generated template for the TecnologyDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <div class="menu">
        Tecnologias
        <img src="assets/img/cdt_neg.png" margin="5px">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Nome</ion-label>
                <ion-checkbox color="dark" checked="true" [(ngModel)]="isName" ></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Nome Técnico</ion-label>
                <ion-checkbox color="dark" checked="false" [(ngModel)]="isCompleteName"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Dados Proteção</ion-label>
                <ion-checkbox color="dark" checked="false" [(ngModel)]="isDataProtect"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Inventor</ion-label>
                <ion-checkbox color="dark" checked="false" [(ngModel)]="isInventor"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Palavra Chave</ion-label>
                <ion-checkbox color="dark" checked="false" [(ngModel)]="isKey"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Departamento</ion-label>
                <ion-checkbox color="dark" checked="false" [(ngModel)]="isDepartment"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--
  <ion-list>
    <ion-item *ngFor="let tech of techs" (click)="goToDesc(tech)">
      <ion-thumbnail item-start>
        <img width="300px" height="400px" src="assets/img/tecnologia.svg">
      </ion-thumbnail>
      <h2>{{tech.nome}}</h2>
      <p>{{tech.descricao}}</p>
      <button ion-button clear item-end>Detalhes</button>
    </ion-item>
  </ion-list>
  -->
  <div class="pins">
    <ion-grid class="cards-bg">
        <ion-row >
          <ion-col col-sm-4 *ngFor="let tech of techs; let i = index" (click)="goToDesc(tech)">
            <ion-card>
              <img src="assets/img/tecnologia.svg"/>
              <ion-card-content>
                <ion-card-title>
                  {{tech.apelido}}
                </ion-card-title>
                <p>
                  {{tech.resumo}}
                </p>
              </ion-card-content>
              <ion-row no-padding>
                <ion-col text-center>
                  <button ion-button  clear color="inovatech_orange" icon-start (click)="goToDesc(tech)" icon-left>
                    <ion-icon name='bookmarks'></ion-icon>
                    Detalhes
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
<!--
  <div class = "pins">
    <div *ngFor="let tech of techs">
      <img src="assets/img/tecnologia.svg"/>
    </div>
  </div>
  -->
  <div class="rodape">
    <ion-grid margin-left="15px" margin-right="15px">
      <ion-row justify-content-end>
        <ion-col >
          <p (click)="goTecnologyProject()">Tecnologias</p>
          <p (click)="goProjects()">Projetos</p>
          <p (click)="goServices()">Serviços</p>
          <p (click)="goToLogin()">Login</p>
        </ion-col>
        <ion-col right>
          <p>Contatos:</p>
          <p>act@cdt.unb.br</p>
          <p>Telefone: (61) 3107-4134</p>
          <p>Localização:</p>
          <p>Universidade de Brasília - Edifício CDT</p>
          <p>Campus Universitário Darcy Ribeiro</p>
          <p>Brasília - Distrito Federal</p>
          <p>Cep: 70904-970</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
