page-tecnology-detail {
    .ion-content{
        background-color: white;
    }

    .toolbar-background{
        background-color: #000;
        text-align: center;
    }
    .item ion-thumbnail{
        min-width: 8rem;
        min-height: 8rem;
        img{
            min-width: 30rem;
            min-height: 20rem;
        }

    
        
    }
}

div.menu{
    color: #fff;
    text-align: left;

}
.menu img
{
    float: right;
}  

div.text-box
{
    margin:55px;
}

div.rodape-box
{
    margin: 15px;
}

div.rodape
{
    background-color: #00424e;
    color: white;
}

div.area
{
    background-color: white;
    
}

.area img
{
    max-width: 700px;
    max-height: 400px;
    display: block;
    margin: auto;

}

div .pins img{
        
        display: block;
        margin: auto;

    }


div.background{
    background-color: white;
}