<ion-header>
  <ion-navbar>  
    <ion-title>
      <div class="menu">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    Projetos
        <img src="assets/img/cdt_neg.png" margin="5px"> 
      </div>
    </ion-title>
  </ion-navbar>
  

</ion-header>

<ion-content no-padding>
    <ion-grid>
      <ion-row justify-content-center>
        <div class="banner">
          <ion-col>
            <img src="assets/img/banner_act.jpg">
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>

  <div class="text-box">
    <h1>
      Título 1 sobre projetos
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
  </div>
  <div >
  <!--<ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        <a ion-item (click)="goTecnologyDetail()" no-lines>
          <ion-card>
            <div class="card-img"><img src="assets/img/tecnologias-01.svg"/></div>
            <div class="card-title">Tecnologias Licenciadas</div>
            <div class="card-subtitle"></div>
          </ion-card>
        </a>
      </ion-col>
      <ion-col col-12 col-sm>
        <a ion-item (click)="goTecnologyDetail()" no-lines>
          <ion-card>
            <div class="card-img"><img src="assets/img/Chamadas-01.svg"/></div>
            <div class="card-title">Chamadas</div>
            
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
  </div>


   <div class="rodape">
    <ion-grid margin-left="15px" margin-right="15px">
      <ion-row justify-content-end>
        <ion-col >
          <p (click)="goTecnologyProject()">Tecnologias</p>
          <p (click)="goProjects()">Projetos</p>
          <p (click)="goServices()">Serviços</p>
          <p (click)="goToLogin()">Login</p>
        </ion-col>
        <ion-col right>
          <p>Contatos:</p>
          <p>act@cdt.unb.br</p>
          <p>Telefone: (61) 3107-4134</p>
          <p>Localização:</p>
          <p>Universidade de Brasília - Edifício CDT</p>
          <p>Campus Universitário Darcy Ribeiro</p>
          <p>Brasília - Distrito Federal</p>
          <p>Cep: 70904-970</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
