<!--
  Generated template for the SectorCrudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Setores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-start>
      <ion-col col-2>
        <ion-item>
          <ion-label floating>Setor</ion-label>
          <ion-input type="text" [(ngModel)]="newSetor"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-1><button ion-button (click)="create(newSetor)"><ion-icon name="add-circle"></ion-icon>Adicionar</button></ion-col>
    </ion-row>
    <ion-row><ion-col><br></ion-col></ion-row>
    <ion-row justify-content-start class="fontWhite">
      <ion-col col-2></ion-col>
      <ion-col col-1 justify-content-center>Confirmar Edição</ion-col>
      <ion-col col-1>Excluir</ion-col>
    </ion-row>
    <ion-row><br></ion-row>
    <div *ngFor="let setor of setores">
      <ion-row justify-content-start>
        <ion-col col-2>
          <ion-item>
            <ion-label floating></ion-label>
            <ion-input type="text" [(ngModel)]="setor.nome"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-1 (click)="edit(setor)"><br><br><ion-icon name="create" color="white"></ion-icon></ion-col>
        <ion-col col-1 (click)="del(setor.idsetor)"><br><br><ion-icon name="close-circle" color="white"></ion-icon></ion-col>
      </ion-row>
    </div>
    <ion-col col-1 ><button ion-button (click)="Logout()"><ion-icon name="add-circle"></ion-icon>Logout</button></ion-col>
  </ion-grid>
</ion-content>
