<!--
  Generated template for the EditEvent page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Usuário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form >
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="userData.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Sobrenome</ion-label>
      <ion-input type="text" [(ngModel)]="userData.sobrenome" name="sobrenome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Ramal</ion-label>
      <ion-input type="text" [(ngModel)]="userData.ramal" name="ramal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="inovatech_blue" floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="userData.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="inovatech_blue" floating>senha</ion-label>
      <ion-input type="password" [(ngModel)]="userData.newPassword" name="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="inovatech_blue" floating>confirmar senha</ion-label>
      <ion-input type="password" [(ngModel)]="userData.newPasswordConfirm" name="confirmPassword"></ion-input>
    </ion-item>

    <button ion-button (click)="editForm()">Confirmar Edição</button>
    <ion-col col-1 ><button ion-button (click)="Logout()"><ion-icon name="add-circle"></ion-icon>Logout</button></ion-col>
  </form>
</ion-content>