<!--
  Generated template for the RetrivePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>retrive-password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>e-mail:</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <button ion-button (click)="SendMail()">Recuperar senha</button>
</ion-content>
