<!--
  Generated template for the KeyWordCrudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Palavras-Chaves</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-start>
      <ion-col col-4><button ion-button (click)="ShowModalPage()"><ion-icon name="add-circle"></ion-icon>Adicionar</button></ion-col>
    </ion-row>
    <ion-row><ion-col><br></ion-col></ion-row>
    <ion-row justify-content-start class="fontWhite">
      <ion-col col-4></ion-col>
      <ion-col col-1 justify-content-center>Confirmar Edição</ion-col>
      <ion-col col-1>Excluir</ion-col>
    </ion-row>
    <ion-row><br></ion-row>
    <div *ngFor="let key of keys">
      <ion-row justify-content-start>
        <ion-col col-2>
          <ion-item>
            <ion-label floating></ion-label>
            <ion-input type="text" [(ngModel)]="key.nome"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-item>
            <ion-label color="primary" floating>Categoria</ion-label>
              <ion-select [(ngModel)]="key.idcategoria">
                  <ion-option *ngFor="let category of categories" value="{{category.idcategoria}}">{{category.nome_categoria}}</ion-option>
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-1 (click)="edit(key)"><br><br><ion-icon name="create" color="white"></ion-icon></ion-col>
        <ion-col col-1 (click)="del(key.idpalavra_chave)"><br><br><ion-icon name="close-circle" color="white"></ion-icon></ion-col>
      </ion-row>
    </div>
    <ion-col col-1 ><button ion-button (click)="Logout()"><ion-icon name="add-circle"></ion-icon>Logout</button></ion-col>
  </ion-grid>
  
</ion-content>
