<ion-header>

  <ion-navbar>
    <ion-title>Palavras-Chaves</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Fechar</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Palavra-Chave</ion-label>
          <ion-input type="text" [(ngModel)]="newKey"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="primary" floating>Categoria</ion-label>
            <ion-select [(ngModel)]="newFk">
                <ion-option *ngFor="let category of categories" value="{{category.idcategoria}}">{{category.nome_categoria}}</ion-option>
            </ion-select>
        </ion-item>
      </ion-col>
      <ion-col><button ion-button (click)="Create(newKey,newFk)"><ion-icon name="add-circle"></ion-icon>Adicionar</button></ion-col>
    </ion-row>
</ion-content>
