<ion-header>
    <ion-navbar>
        <ion-title>Cadastro de Novo Usuário</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <section class="container">
        <div class="panel">
            <div class="row">
                <div class="col-md">
                    <h3></h3>
                    <form [formGroup]="signup" (ngSubmit)="sendData()">
                        <ion-list>
                            <ion-item>
                                <ion-label color="inovatech_blue" margin-left="1px" floating>Nome</ion-label>
                                <ion-input type="text" margin-left="0.5px" formControlName="firstName"></ion-input>
                            </ion-item>

                            <div *ngIf="signup.controls['firstName'].hasError('required') && signup.controls['firstName'].touched" class="alert mini-alert">Insira seu Nome</div>
                            <div *ngIf="signup.controls['firstName'].hasError('pattern') && signup.controls['firstName'].touched" class="alert mini-alert">Digite um nome Válido.</div>

                            <ion-item>
                                <ion-label color="inovatech_blue" margin-left="1px" floating>Sobrenome</ion-label>
                                <ion-input type="text" margin-left="0.5px" formControlName="lastName"></ion-input>
                            </ion-item>

                            <div *ngIf="signup.controls['lastName'].hasError('required') && signup.controls['lastName'].touched" class="alert mini-alert">Insira seu Sobrenome</div>
                            <div *ngIf="signup.controls['lastName'].hasError('pattern') && signup.controls['lastName'].touched" class="alert mini-alert">Digite um sobrenome Válido.</div>

                            <ion-item>
                                <ion-label color="inovatech_blue" margin-left="1px" floating>Email</ion-label>
                                <ion-input type="text" margin-left="0.5px" formControlName="email"></ion-input>
                            </ion-item>
                            <div *ngIf="signup.controls['email'].hasError('required') && signup.controls['email'].touched" class="alert mini-alert">Insira o email de contato</div>

                            <ion-item>
                                <ion-label color="inovatech_blue" margin-left="1px" floating>Senha</ion-label>
                                <ion-input type="password" margin-left="0.5px" formControlName="password"></ion-input>
                            </ion-item>
                            <div *ngIf="signup.controls['password'].hasError('required') && signup.controls['email'].touched" class="alert mini-alert">Insira sua senha</div>
                            <div *ngIf="signup.controls['password'].hasError('minlength') && signup.controls['email'].touched" class="alert mini-alert">A senha deve ter no mínimo 6 caracteres.</div>

                            <ion-item>
                                <ion-label color="inovatech_blue" margin-left="1px" floating>Confirmar senha</ion-label>
                                <ion-input type="password" margin-left="0.5px" formControlName="passwordValidation"></ion-input>
                            </ion-item>
                            <div *ngIf="signup.controls['password'].hasError('required') && signup.controls['email'].touched" class="alert mini-alert">Insira sua senha</div>
                            <div *ngIf="signup.controls['password'].hasError('minlength') && signup.controls['email'].touched" class="alert mini-alert">A senha deve ter no mínimo 6 caracteres.</div>
                            <ion-item>
                                <ion-label color="inovatech_blue" margin-left="1px" floating>Ramal</ion-label>
                                <ion-input type="text" margin-left="0.5px" formControlName="ramal"></ion-input>
                            </ion-item>

                            <div *ngIf="signup.controls['ramal'].hasError('required') && signup.controls['ramal'].touched" class="alert mini-alert">Insira seu Ramal</div>
                            <div *ngIf="signup.controls['ramal'].hasError('pattern') && signup.controls['ramal'].touched" class="alert mini-alert">Digite apenas números.</div>

                            <ion-item>
                                <ion-label color="inovatech_blue" margin-left="1px" floating>Setor</ion-label>
                                <ion-select margin-left="0.5px" formControlName="setor">
                                    <ion-option *ngFor="let setor_bd of setores" value="{{setor_bd.idsetor}}">{{setor_bd.nome}}</ion-option>
                                </ion-select>
                            </ion-item>

                            <div *ngIf="signup.controls['setor'].hasError('required') && signup.controls['setor'].touched" class="alert mini-alert">Escolha um setor</div>
                        
                            <ion-item>
                                <ion-label color="inovatech_blue" margin-left="1px" floating>Tipo de usuário</ion-label>
                                <ion-select margin-left="0.5px" formControlName="userLvl">
                                    <ion-option value="0">Administrador Geral</ion-option>
                                    <ion-option value="1">Administrador GITT</ion-option>
                                    <ion-option value="2">GITT</ion-option>
                                    <ion-option value="3">Administrador Projetos</ion-option>
                                    <ion-option value="4">Projetos</ion-option>
                                </ion-select>
                            </ion-item>

                            <div *ngIf="signup.controls['userLvl'].hasError('required') && signup.controls['userLvl'].touched" class="alert mini-alert">Escolha um tipo de usuário</div>
                        </ion-list>
                        
                        <button ion-button color="inovatech_orange" icon-left type="submit" [disabled]="!signup.valid"><ion-icon name="person-add"></ion-icon>Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</ion-content>
