// Sign-Up Page
// --------------------------------------------------
// Sign-up page style.
sign-up-page {
    .mini-alert {
        max-width: 250px;
        color: #B71C1C;
    }
    .panel {
        width:                  400px;
        max-width:              90%;
        padding:                20px;
        margin:                 20px;
        margin-top: 5%;
        display:                inline-block;
        color:          white;
        
        h2 {
            font-size:              18px;

        }

        ion-item {
            padding:                0px;
        }

        .buttons {
            margin-top:             40px;
            text-align:             center;
        }
    
    }
    section {
        text-align:             center;
        margin-bottom:          15%;
    }

    ion-label {
        text-align: left !important;
        font-size: 11pt !important;
        text-decoration: none !important;
    }

    ion-input {

    }
}
