<!--
  Generated template for the TeacherCrudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inventores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-start>
      <ion-col col-4>
        <ion-item >
          <ion-label floating>Professor</ion-label>
          <ion-input type="text" [(ngModel)]="newTeacher.nome"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label floating>Link Lattes</ion-label>
          <ion-input type="text" [(ngModel)]="newTeacher.lattes"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-1><button ion-button (click)="create(newTeacher)"><ion-icon name="add-circle"></ion-icon>Adicionar</button></ion-col>
    </ion-row>
    <ion-row>
      <form name="formImage">
        <input type="file"
                id="file"
                (change)="HandleFileInput($event.target.files)"
                class="inputFile"/>
        </form>
  </ion-row>
  <ion-row><ion-col><br></ion-col></ion-row>
    <ion-row justify-content-start class="fontWhite">
      <ion-col col-8></ion-col>
      <ion-col col-1 justify-content-center>Confirmar Edição</ion-col>
      <ion-col col-1>Excluir</ion-col>
    </ion-row>
    <ion-row><br></ion-row>
    <div *ngFor="let teacher of teachers">
      <ion-row justify-content-start>
        <ion-col col-4>
          <ion-item>
            <ion-label floating></ion-label>
            <ion-input type="text" [(ngModel)]="teacher.nome"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label floating></ion-label>
            <ion-input type="text" [(ngModel)]="teacher.lattes"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-1 (click)="edit(teacher)"><br><br><ion-icon name="create" color="white"></ion-icon></ion-col>
        <ion-col col-1 (click)="del(teacher.idinventor)"><br><br><ion-icon name="close-circle" color="white"></ion-icon></ion-col>        
      </ion-row>
    </div>    
    <ion-col col-1 ><button ion-button (click)="Logout()"><ion-icon name="add-circle"></ion-icon>Logout</button></ion-col>
  </ion-grid>
</ion-content>
